$easer: cubic-bezier(0.68, -0.55, 0.265, 1.55);

.wrap
  position: fixed
  bottom: 0px
  width: 100vw
  padding: 0px
  margin-bottom: 40px
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  overflow-y: hidden
  .link
    width: 100px
    text-transform: uppercase
    transition: .3s $easer
    font-size: 18px
    margin: 0px 10px
    cursor: pointer
    z-index: 2
  .homeLink
    margin: auto
    width: 15px
    height: 15px
    cursor: pointer
    z-index: 1
    border-radius: 50%
    border: 0.5px solid transparent
    transition: .5s $easer .15s
    background: white
    margin: 0px 20px
  .leftLink
    text-align: right

.overflow-visible
  overflow-y: visible !important

.hoveredLeft > .homeLink
  height: 1px
  border-radius: 0
  transform: scaleX(7) translateX(-11.5px)
  
.hoveredRight > .homeLink
  height: 1px
  border-radius: 0
  transform: scaleX(7) translateX(12px)

.hoveredHome > .homeLink
  transform: scale(2.5)
  background: none
  border: 0.5px solid white

.letter
  display: inline-block
  transition: .3s $easer

.letter-up
  transform: translateY(-20px) !important

.text-down
  transform: translateY(20px) !important


// Maybe animations???